@model App.Models.Company

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h4>Company</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfEmployees" class="control-label"></label>
                <input asp-for="NumberOfEmployees" class="form-control" />
                <span asp-validation-for="NumberOfEmployees" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityOfMachines" class="control-label"></label>
                <input asp-for="QuantityOfMachines" class="form-control" />
                <span asp-validation-for="QuantityOfMachines" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnualProductionKilos" class="control-label"></label>
                <input asp-for="AnualProductionKilos" class="form-control" />
                <span asp-validation-for="AnualProductionKilos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutomationLevel" class="control-label"></label>
                <select asp-for="AutomationLevel" class="form-control"></select>
                <span asp-validation-for="AutomationLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TargetMarket" class="control-label"></label>
                <select asp-for="TargetMarket" class="form-control"></select>
                <span asp-validation-for="TargetMarket" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

