@model App.Models.Product
@{
    ViewData["Title"] = "ProductEdit";
}
<div class="content_side">
    <h1>Product Edição</h1>
    <form asp-action="Edit">
        <div class="form-group p-2 w-50">
            <label asp-for="Name">Nome:</label>
            <input asp-for="Name" class="form-control" />
        </div>

        <div class="form-group d-flex flex-row">
            <button class="btn btn-primary mr-5" type="submit" value="Save"> Salvar </button>
            <button class="btn btn-danger" asp-action="Index"> Voltar </button>
        </div>
    </form>
</div>


