@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="p-5">
    <h1>APS 5 SEMESTRE</h1>

    <p>
        Está aplicação foi criada com o objetivo de estudos</br>
        Trabalho da Universidade Paulista - UNIP</br>
    </p>

    <h1>Criado Por</h1>
    <p>
        Lucas Toshio de Castro Uyekita</br>
        Gabriel Batista Matos</br>
        Lucas Bernardo da Silva</br>
        Matheus de Souza Alemida</br>
        Kevin de Moura Cardoso</br>
    </p>
</div>
