@model App.Models.User
@{
    ViewData["Title"] = "Register";
}

<div class="content_side_l backgroun_night" style="color:white;">
    <div class="titleContetSide" style="border-color: white;">
        <h2>BEM-VINDO AO MAPA</h2>
        <h4>ministério da agricultura</h4>
    </div>
    <p>
        Para nós o mais importante é o
        desenvolvimento sustentável
    </p>
</div>

<div class="content_side_r">
    <h1>Registro</h1>
    <div class="error_message">
        @if (TempData["Error"] != null)
        {
            <p>@TempData["Error"]</p>
        }
    </div>
    
    <form asp-action="Register" enctype="multipart/form-data">
        <div class="form-group p-2 w-50">
            <label for="iname">Nome:</label>
            <input type="text" class="form-control" id="iname" asp-for="Name">
        </div>
        <div class="form-group p-2 w-50">
            <label for="iemail">Email:</label>
            <input type="email" class="form-control" id="iemail" asp-for="Email">
        </div>
        <div class="d-flex flex-column align-items-center" style="width:max-content">
            <div class="form-group p-2 d-flex flex-column" style="width: 200px; margin-bottom: 10px;">
                <label for="ifileLoad" class="fingerPrintArea">
                    <p id="iShowResult">Click Aqui para Carregar a imagem</p>
                </label>
                <input hidden id="ifileLoad" asp-for="ImgFile" oninput="changeScript()" />
            </div>
            <div>
                <button type="submit" class="btn btn-success mr-4" value="Regiter">Registar</button>
                <button type="reset" class="btn btn-danger">Limpar</button>
            </div>
            <a asp-action="login" class="mt-4">Ir para o login</a>
        </div>
    </form>
</div>
