body{
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr max-content;
    grid-template-areas:
        "header header header"
        "container container container"
        "footer footer footer";
}

header {
    grid-area: header;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;

    box-shadow: 2px 2px 5px gray;
}

.container {
    grid-area: container;
}

footer {
    grid-area: footer;
    box-shadow: 2px 2px 10px gray;
}

.fingerPrintArea {
    height: 200px; 
    width: 200px; 

    border: solid green; 
    border-radius: 10%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15pt;
    color: green;
    margin-bottom: 5px;
}

.InternalInfoBox {
    border: solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}