@model App.Models.User
@{
    ViewData["Title"] = "RegisterMinister";
}

<div class="content_side">
    <h1>Registro</h1>
    <div class="error_message">
        @if (TempData["Error"] != null)
        {
            <p>@TempData["Error"]</p>
        }
    </div>

    <form asp-action="Create" enctype="multipart/form-data">
        <div class="form-group p-2 w-50">
            <label for="iname">Nome:</label>
            <input type="text" class="form-control" id="iname" asp-for="Name">
        </div>
        <div class="form-group p-2 w-50">
            <label for="iemail">Email:</label>
            <input type="email" class="form-control" id="iemail" asp-for="Email">
        </div>
        <div class="form-group p-2 w-50">
            <label for="iPosition">Posição:</label>
            <input type="text" class="form-control" id="iPosition" asp-for="Position">
        </div>
        <div class="form-group p-2 d-flex flex-row">
            <label>Nivel de Acesso:</label>&nbsp;

            <div class="form-check mr-3">
                <input type="radio" class="form-check-input" asp-for="UserLevel" value="1" checked />
                <label>Publico</label>
            </div>
            <div class="form-check mr-3">
                <input type="radio" class="form-check-input" asp-for="UserLevel" value="2" />
                <label>Diretor</label>
            </div>
            <div class="form-check mr-3">
                <input type="radio" class="form-check-input" asp-for="UserLevel" value="3" />
                <label>Ministro</label>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center" style="width:max-content">
            <div class="form-group p-2 d-flex flex-column" style="width: 200px; margin-bottom: 10px;">
                <label for="ifileLoad" class="fingerPrintArea">
                    <p id="iShowResult">Click Aqui para Carregar a imagem</p>
                </label>
                <input hidden id="ifileLoad" asp-for="ImgFile" oninput="changeScript()" />
            </div>
            <div>
                <button type="submit" class="btn btn-success mr-4" value="Regiter">Registar</button>
                <button type="reset" class="btn btn-danger">Limpar</button>
            </div>
        </div>
    </form>
</div>
