
@{
    ViewData["Title"] = "Loader";
}

<div style="height: 100vh;" class="d-flex flex-column align-items-center">
    <div class="form-group p-2 d-flex flex-column" style="width: 200px; margin-bottom: 10px;">
        <label for="ifileLoad">
            <div class="fingerbox">
                <label>COLOQUE<br />A IMAGEM<br />AQUI</label>
                <h1>Entrar</h1>
            </div>
        </label>
    </div>
    <button type="submit" class="btn btn-success">Entrar</button>
</div>
