
@{
    ViewData["Title"] = "Register";
}

<h1>Registro</h1>
<div>
    <form>
        <label>Nome:</label>
        <input type="text" />
        <br/>
        <label>Email:</label>
        <input type="text"/>
    </form>
</div>

